<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
    <title>Title</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/normalize.css/3.0.2/normalize.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	
	<!--[if lte IE 8]>
	<script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/respond/1.4.2/src/respond.js}"></script>
	<![endif]-->
	
	<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body>
<header>
    Bassolve
</header>

<nav>
    <ul>
        <li><a th:href="@{/index}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/heuristic/index}" th:text="Heuristics">Heuristics</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}" th:text="Login">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="Logout">Logout</a></li>
    </ul>
</nav>

<section id="content" layout:fragment="body"></section>

<footer>
    2016 - Raphael Basso
</footer>
</body>
</html>
