<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
    <title>Bassolve</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/normalize.css/3.0.2/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	
	<!--[if lte IE 8]>
	<script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/respond/1.4.2/src/respond.js}"></script>
	<![endif]-->

    <script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/ace-builds/1.2.6/src-noconflict/ace.js}"></script>
	<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body>
<header class="grid">
    <h1 class="grid-1-2"><i class="fa fa-gears" aria-hidden="true"/> <span th:text="#{application.title}" th:remove="tag"></span></h1><nav class="grid-1-2">
        <ul>
            <li><a th:href="@{/index}"><i class="fa fa-home" aria-hidden="true"/> Home</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/heuristic/index}"><i class="fa fa-code" aria-hidden="true"/> <span th:text="#{application.menu.heuristic.text}" th:remove="tag">Heuristics</span></a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"/> <span th:text="#{application.menu.login.text}" th:remove="tag"></span></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"/> <span th:text="#{application.menu.logout.text}" th:remove="tag"></span></a></li>
        </ul>
    </nav>
</header>

<section id="content" layout:fragment="body"></section>

<footer>
    2017 - Raphael Basso
</footer>
</body>
</html>
