<section layout:decorator="layout" layout:fragment="body"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:th="http://www.thymeleaf.org">

    <h2 th:text="#{login.title}">Login</h2>
    <form th:action="@{/login}" method="post">
        <fieldset>
            <div th:if="${param.error}">
                <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">Wrong input!</span>
            </div>

            <div class="grid width-1-5 margin-v-auto">
                <div class="grid-1-2"><label class="width-1" for="username" th:text="#{login.form.username.text}">Username</label></div><div class="grid-1-2"><input class="width-1" type="text" id="username" name="username" th:placeholder="#{login.form.username.placeholder}"/></div>
            </div>

            <div class="grid width-1-5 margin-v-auto">
                <div class="grid-1-2"><label class="width-1" for="password" th:text="#{login.form.password.text}">Password</label></div><div class="grid-1-2"><input class="width-1" type="password" id="password" name="password" th:placeholder="#{login.form.password.placeholder}"/></div>
            </div>

            <div class="text-align-center">
                <button type="submit" th:text="#{login.form.submit.text}">Login</button>
            </div>
        </fieldset>
    </form>
</section>
