<section layout:decorator="layout" layout:fragment="body"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:th="http://www.thymeleaf.org">
    <h2>Create</h2>
    <!--/*@thymesVar id="form" type="sk.host.arabasso.bassolve.web.form.HeuristicForm"*/-->
    <form th:action="${#httpServletRequest.requestURI}" th:object="${form}" method="post">
        <ul th:if="${#fields.hasErrors('global')}">
            <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <fieldset>
            <input type="hidden" th:field="*{id}"/>

            <div>
                <label th:for="*{name}">Name</label>
                <input type="text" th:field="*{name}" placeholder="Name" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div>
                <label th:for="*{date}">Date</label>
                <input type="text" th:field="*{date}" placeholder="Date" readonly="readonly" />
                <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            </div>

            <div>
                <label th:for="*{source}">Source</label>
                <textarea th:name="source" th:text="*{source}" placeholder="Source" />
                <div th:id="source"/>
                <div th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></div>
            </div>

            <div>
                <button type="submit">Create</button>
                <a th:href="@{/heuristic/index}">Cancel</a>
            </div>
        </fieldset>
    </form>
</section>
