<section layout:decorator="layout" layout:fragment="body"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:th="http://www.thymeleaf.org">

    <h2 th:text="#{heuristic.index.title}">List</h2>

    <table>
        <thead>
        <tr>
            <th class="text-align-left">#</th>
            <th class="text-align-left" th:text="#{heuristic.index.list.name.text}">Name</th>
            <th th:text="#{heuristic.index.list.date.text}">Date</th>
            <th th:text="#{heuristic.index.list.action.edit.text}">Edit</th>
            <th th:text="#{heuristic.index.list.action.delete.text}">Delete</th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="list" type="java.util.List<sk.host.arabasso.bassolve.web.entity.Heuristic>"*/-->
        <tr th:each="u,status : ${list}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}">Name</td>
            <td class="text-align-center" th:text="${{u.date}}">01/01/0001</td>
            <td class="text-align-center"><a th:href="@{/heuristic/edit(id=${u.id})}" th:text="#{heuristic.index.list.action.link.edit.text}">Edit</a></td>
            <td class="text-align-center"><a th:href="@{/heuristic/delete(id=${u.id})}" th:text="#{heuristic.index.list.action.link.delete.text}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/heuristic/create}" th:text="#{heuristic.index.list.action.link.create.text}" th:title="#{heuristic.index.list.action.link.create.title}">Create</a>
    </div>
</section>
